<header id="masthead" class="site-header">
    <div id="header-2" class="header-area header-fixed ">

        <div class="masthead-container header-controll">
            <div class="container">
                <div class="row gutters-60">
                    <div class="col-lg-4">
                        <ul class="header-social">
                            <li><a target="_blank" href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa-twitter-square"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="site-branding">
                            <a class="dark-logo" href="https://radiustheme.com/demo/wordpress/themes/ranna/"><img src="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/img/logo.png" alt="Ranna"></a>
                            <a class="light-logo" href="https://radiustheme.com/demo/wordpress/themes/ranna/"><img src="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/img/logo2.png" alt="Ranna"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-end">
                        <div class="header-icon-area">
                            <div class="header-search-box">
                                <a href="#header-search" title="Search">
                                    <i class="flaticon-magnifying-glass"></i>
                                </a>
                            </div>

                            <div class="cart-icon-area">
                                <a href="https://radiustheme.com/demo/wordpress/themes/ranna/cart/"><i class="flaticon-shopping-bag"></i><span class="cart-icon-num">0</span></a>
                                <div class="cart-icon-products">
                                    <div class="widget woocommerce widget_shopping_cart"><h2 class="widgettitle">Cart</h2><div class="widget_shopping_cart_content"></div></div>	</div>
                            </div>
                        </div>							</div>
                </div>
            </div>
        </div>
        <div class="masthead-container" id="sticker">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div id="site-navigation" class="main-navigation">
                        <nav class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-78"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/">Home</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-76"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/">Home 1</a></li>
                                        <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-77"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/home-2/" aria-current="page">Home 2</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-576" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-576"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/categories/">Category</a></li>
                                <li id="menu-item-579" class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-has-children menu-item-579"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/sunday-best-fruit-salad-with-best-recipe-writer-in-the-world/">Recipes</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1350"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipes-without-sidebar/">Recipes Without Sidebar</a></li>
                                        <li id="menu-item-1351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1351"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipes-with-sidebar/">Recipes With Sidebar</a></li>
                                        <li id="menu-item-778" class="menu-item menu-item-type-taxonomy menu-item-object-ranna_recipe_category menu-item-778"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/ranna_recipe_category/dinner/">Recipe Category with Sidebar</a></li>
                                        <li id="menu-item-1423" class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-1423"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/dijon-quinoa-and-avocado-salad-with-lemon-kale-vinaigrette/">Single Recipe 1</a></li>
                                        <li id="menu-item-1271" class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-1271"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/sunday-best-fruit-salad-with-best-recipe-writer-in-the-world/">Single recipe 1 ( Without Sidebar )</a></li>
                                        <li id="menu-item-1382" class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-1382"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/fresh-broccoli-salad-with-best-recipe-writer-in-the-world/">Single Recipe Style 2</a></li>
                                        <li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/submit-recipe/">Submit Recipe</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-216" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-216"><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-233" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-233"><a href="#">Recipes</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1588"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipes-without-sidebar/">Recipes Without Sidebar</a></li>
                                                <li id="menu-item-1589" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1589"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipes-with-sidebar/">Recipes With Sidebar</a></li>
                                                <li id="menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-236"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/turkey-kofta-kabobs-with-best-recipe-writer-in-the-world/">Recipe Style 1</a></li>
                                                <li id="menu-item-1393" class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-1393"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/fresh-broccoli-salad-with-best-recipe-writer-in-the-world/">Recipe Style 2</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-238"><a href="#">Other Pages</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-239" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-239"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/about/">About</a></li>
                                                <li id="menu-item-1313" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1313"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/our-all-author/">Our All Author</a></li>
                                                <li id="menu-item-244" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/author/jack-black/">Author Details</a></li>
                                                <li id="menu-item-250" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/product/ballarini-fsrc51-28-click-and-cook-frying-pan-28-cm/">404</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-247" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-247"><a href="#">Shop</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-249" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-249"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/shop/">Shop</a></li>
                                                <li id="menu-item-1315" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-1315"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/product/super-rice-cooker/">Single Product</a></li>
                                                <li id="menu-item-928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-928"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/cart/">Cart</a></li>
                                                <li id="menu-item-929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-929"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/checkout/">Checkout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-95"><a href="#">Elements</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-430"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-1/">Recipe Slider</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-1/">Recipe Slider 1</a></li>
                                                <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-2/">Recipe Slider 2</a></li>
                                                <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-3/">Recipe Slider 3</a></li>
                                                <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-4/">Recipe Slider 4</a></li>
                                                <li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-5/">Recipe Slider 5</a></li>
                                                <li id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-6/">Recipe Slider 6</a></li>
                                                <li id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-7/">Recipe Slider 7</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-102"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-grid-2/">Recipe Grid</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-375" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-375"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-grid-1/">Recipe Grid 1</a></li>
                                                <li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-grid-2/">Recipe Grid 2</a></li>
                                                <li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-grid-3/">Recipe Grid 3</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-112"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-1/">Recipe List</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-1/">Recipe List 1</a></li>
                                                <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-2/">Recipe List 2</a></li>
                                                <li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-3/">Recipe List 3</a></li>
                                                <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-4/">Recipe List 4</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-374" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-374"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-box-1/">Recipe Box</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-box-1/">Recipe Box 1</a></li>
                                                <li id="menu-item-371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-box-2/">Recipe Box 2</a></li>
                                                <li id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-box-3/">Recipe Box 3</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-394"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/single-recipe-1/">Single Recipe</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/single-recipe-1/">Single Recipe 1</a></li>
                                                <li id="menu-item-392" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-392"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/single-recipe-2/">Single Recipe 2</a></li>
                                                <li id="menu-item-391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/single-recipe-3-2/">Single Recipe 3</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-107"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-1/">Section Title</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-1/">Section Title 1</a></li>
                                                <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-2/">Section Title 2</a></li>
                                                <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-3/">Section Title 3</a></li>
                                                <li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-3-2/">Section Title 3( with bar )</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-447"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-category/">Recipe Category</a></li>
                                        <li id="menu-item-562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-562"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/infobox/">Infobox</a></li>
                                        <li id="menu-item-550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-550"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-1/">Post Slider</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-542"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-1/">Post Slider 1</a></li>
                                                <li id="menu-item-543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-543"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-2/">Post Slider 2</a></li>
                                                <li id="menu-item-544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-544"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-3/">Post Slider 3</a></li>
                                                <li id="menu-item-545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-4/">Post Slider 4</a></li>
                                                <li id="menu-item-546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-5/">Post Slider 5</a></li>
                                                <li id="menu-item-547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-6/">Post Slider 6</a></li>
                                                <li id="menu-item-548" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-548"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-7/">Post Slider 7</a></li>
                                                <li id="menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-8/">Post Slider 8</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-554" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-554"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-list-style-1/">Post List Style</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-551"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-list-style-1/">Post List Style 1</a></li>
                                                <li id="menu-item-552" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-552"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-list-style-2/">Post List Style 2</a></li>
                                                <li id="menu-item-553" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-553"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-list-style-3/">Post List Style 3</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-561"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-1/">Post Grid</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-555" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-555"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-1/">Post Grid 1</a></li>
                                                <li id="menu-item-556" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-556"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-2/">Post Grid 2</a></li>
                                                <li id="menu-item-557" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-557"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-3/">Post Grid 3</a></li>
                                                <li id="menu-item-558" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-558"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-4/">Post Grid 4</a></li>
                                                <li id="menu-item-559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-559"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-5/">Post Grid 5</a></li>
                                                <li id="menu-item-560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-560"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-6/">Post Grid 6</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1001"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-single-1/">Post Single</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1003" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1003"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-single-1/">Post Single 1</a></li>
                                                <li id="menu-item-1002" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1002"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-single-2/">Post Single 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-230"><a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-927" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-927"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/blog-grid/">Blog Grid</a></li>
                                        <li id="menu-item-926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-926"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/blog-list/">Blog List</a></li>
                                        <li id="menu-item-948" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-948"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/kentucky-butter-cake/">Single Post</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-650" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-650"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/contact/">Contact</a></li>
                            </ul></nav>			</div>
                    <div class="nav-action-elements-layout">
                        <ul>
                            <li>
                                <a href="https://radiustheme.com/demo/wordpress/themes/ranna/wp-login.php?action=logout&amp;redirect_to=index.php&amp;_wpnonce=8f6b76c791" class="login-btn">Log Out</a>
                            </li>
                            <li>
                                <a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-account" class="login-btn">My Recipe</a>
                            </li>
                            <li><a href="https://radiustheme.com/demo/wordpress/themes/ranna/submit-recipe" class="fill-btn"><i class="fa fa-plus" aria-hidden="true"></i>Submit Recipe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="rt-sticky-menu-wrapper rt-sticky-menu">
            <div class="container">
                <div class="d-flex justify-content-between align-item-center">
                    <div class="site-branding">
                        <a class="dark-logo" href="https://radiustheme.com/demo/wordpress/themes/ranna/"><img src="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/img/logo.png" alt="Ranna"></a>
                        <a class="light-logo" href="https://radiustheme.com/demo/wordpress/themes/ranna/"><img src="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/img/logo2.png" alt="Ranna"></a>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="main-navigation">
                            <nav class="menu-main-menu-container"><ul id="menu-main-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-78"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/">Home</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-76"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/">Home 1</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-77"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/home-2/" aria-current="page">Home 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-576"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/categories/">Category</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-has-children menu-item-579"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/sunday-best-fruit-salad-with-best-recipe-writer-in-the-world/">Recipes</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1350"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipes-without-sidebar/">Recipes Without Sidebar</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1351"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipes-with-sidebar/">Recipes With Sidebar</a></li>
                                            <li class="menu-item menu-item-type-taxonomy menu-item-object-ranna_recipe_category menu-item-778"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/ranna_recipe_category/dinner/">Recipe Category with Sidebar</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-1423"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/dijon-quinoa-and-avocado-salad-with-lemon-kale-vinaigrette/">Single Recipe 1</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-1271"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/sunday-best-fruit-salad-with-best-recipe-writer-in-the-world/">Single recipe 1 ( Without Sidebar )</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-1382"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/fresh-broccoli-salad-with-best-recipe-writer-in-the-world/">Single Recipe Style 2</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/submit-recipe/">Submit Recipe</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-216"><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-233"><a href="#">Recipes</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1588"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipes-without-sidebar/">Recipes Without Sidebar</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1589"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipes-with-sidebar/">Recipes With Sidebar</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-236"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/turkey-kofta-kabobs-with-best-recipe-writer-in-the-world/">Recipe Style 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-ranna_recipe menu-item-1393"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/fresh-broccoli-salad-with-best-recipe-writer-in-the-world/">Recipe Style 2</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-238"><a href="#">Other Pages</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-239"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/about/">About</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1313"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/our-all-author/">Our All Author</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/author/jack-black/">Author Details</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/product/ballarini-fsrc51-28-click-and-cook-frying-pan-28-cm/">404</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-247"><a href="#">Shop</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-249"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/shop/">Shop</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-1315"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/product/super-rice-cooker/">Single Product</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-928"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/cart/">Cart</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-929"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/checkout/">Checkout</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-95"><a href="#">Elements</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-430"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-1/">Recipe Slider</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-1/">Recipe Slider 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-2/">Recipe Slider 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-3/">Recipe Slider 3</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-4/">Recipe Slider 4</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-5/">Recipe Slider 5</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-6/">Recipe Slider 6</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-slider-7/">Recipe Slider 7</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-102"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-grid-2/">Recipe Grid</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-375"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-grid-1/">Recipe Grid 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-grid-2/">Recipe Grid 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-grid-3/">Recipe Grid 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-112"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-1/">Recipe List</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-1/">Recipe List 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-2/">Recipe List 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-3/">Recipe List 3</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-list-4/">Recipe List 4</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-374"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-box-1/">Recipe Box</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-box-1/">Recipe Box 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-box-2/">Recipe Box 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-box-3/">Recipe Box 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-394"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/single-recipe-1/">Single Recipe</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/single-recipe-1/">Single Recipe 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-392"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/single-recipe-2/">Single Recipe 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/single-recipe-3-2/">Single Recipe 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-107"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-1/">Section Title</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-1/">Section Title 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-2/">Section Title 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-3/">Section Title 3</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/section-title-3-2/">Section Title 3( with bar )</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-447"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe-category/">Recipe Category</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-562"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/infobox/">Infobox</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-550"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-1/">Post Slider</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-542"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-1/">Post Slider 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-543"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-2/">Post Slider 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-544"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-3/">Post Slider 3</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-4/">Post Slider 4</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-5/">Post Slider 5</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-6/">Post Slider 6</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-548"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-7/">Post Slider 7</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-slider-8/">Post Slider 8</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-554"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-list-style-1/">Post List Style</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-551"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-list-style-1/">Post List Style 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-552"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-list-style-2/">Post List Style 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-553"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-list-style-3/">Post List Style 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-561"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-1/">Post Grid</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-555"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-1/">Post Grid 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-556"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-2/">Post Grid 2</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-557"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-3/">Post Grid 3</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-558"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-4/">Post Grid 4</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-559"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-5/">Post Grid 5</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-560"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-grid-6/">Post Grid 6</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1001"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-single-1/">Post Single</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1003"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-single-1/">Post Single 1</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1002"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/post-single-2/">Post Single 2</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-230"><a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-927"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/blog-grid/">Blog Grid</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-926"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/blog-list/">Blog List</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-948"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/kentucky-butter-cake/">Single Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-650"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/contact/">Contact</a></li>
                                </ul></nav>				</div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="header-icon-area">
                            <div class="header-search-box">
                                <a href="#header-search" title="Search">
                                    <i class="flaticon-magnifying-glass"></i>
                                </a>
                            </div>

                            <div class="cart-icon-area">
                                <a href="https://radiustheme.com/demo/wordpress/themes/ranna/cart/"><i class="flaticon-shopping-bag"></i><span class="cart-icon-num">0</span></a>
                                <div class="cart-icon-products">
                                    <div class="widget woocommerce widget_shopping_cart"><h2 class="widgettitle">Cart</h2><div class="widget_shopping_cart_content"></div></div>	</div>
                            </div>
                        </div>							</div>
                </div>
            </div>
        </div>							</div>
</header>